@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Scripture Journal</h1>
    <p>Welcome to the database of scriptures. This will serve as a collection that somebody can add, remove, and edit existing scriptures that they find intriguing.  For more information regarding the scriptures, visit <a href="https://lds.org"> lds.org</a>.</p>
</div>
